<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.mapper.LibraryMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.pojo.Library">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="l_name" jdbcType="VARCHAR" property="l_name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, l_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from library
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getLibraryList" resultType="int">
  	SELECT COUNT(1) FROM library
  </select>
	<select id="getPageList" resultMap="BaseResultMap">
		SELECT * FROM library LIMIT #{startIndex},#{pageSize}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from library
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.warehouse.pojo.Library">
    insert into library (id, l_name)
    values (#{id,jdbcType=INTEGER}, #{l_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.warehouse.pojo.Library">
    insert into library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="l_name != null">
        l_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="l_name != null">
        #{l_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.warehouse.pojo.Library">
    update library
    <set>
      <if test="l_name != null">
        l_name = #{l_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.warehouse.pojo.Library">
    update library
    set l_name = #{l_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>