<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.pojo.Stock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_id" jdbcType="INTEGER" property="c_id" />
    <result column="stock_number" jdbcType="INTEGER" property="stock_number" />
    <result column="production_time" jdbcType="TIMESTAMP" property="production_time" />
    <result column="quality_guarantee_period" jdbcType="INTEGER" property="quality_guarantee_period" />
    <result column="item_pricing" jdbcType="INTEGER" property="item_pricing" />
    <result column="l_id" jdbcType="INTEGER" property="l_id" />
    <result column="r_id" jdbcType="INTEGER" property="r_id" />
    <result column="g_id" jdbcType="INTEGER" property="g_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, c_id, stock_number, production_time, quality_guarantee_period, item_pricing, 
    l_id, r_id, g_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getStockList" resultType="int">
  	SELECT COUNT(1) FROM Stock
  </select>
	<select id="getPageList" resultMap="BaseResultMap">
		SELECT s.id,c.c_name,c.commodity_specification,s.stock_number FROM stock AS s,commodity AS c WHERE s.c_id = c.id LIMIT #{startIndex},#{pageSize}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.warehouse.pojo.Stock">
    insert into stock (id, c_id, stock_number, 
      production_time, quality_guarantee_period, 
      item_pricing, l_id, r_id, 
      g_id)
    values (#{id,jdbcType=INTEGER}, #{c_id,jdbcType=INTEGER}, #{stock_number,jdbcType=INTEGER}, 
      #{production_time,jdbcType=TIMESTAMP}, #{quality_guarantee_period,jdbcType=INTEGER}, 
      #{item_pricing,jdbcType=INTEGER}, #{l_id,jdbcType=INTEGER}, #{r_id,jdbcType=INTEGER}, 
      #{g_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.warehouse.pojo.Stock">
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="c_id != null">
        c_id,
      </if>
      <if test="stock_number != null">
        stock_number,
      </if>
      <if test="production_time != null">
        production_time,
      </if>
      <if test="quality_guarantee_period != null">
        quality_guarantee_period,
      </if>
      <if test="item_pricing != null">
        item_pricing,
      </if>
      <if test="l_id != null">
        l_id,
      </if>
      <if test="r_id != null">
        r_id,
      </if>
      <if test="g_id != null">
        g_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="c_id != null">
        #{c_id,jdbcType=INTEGER},
      </if>
      <if test="stock_number != null">
        #{stock_number,jdbcType=INTEGER},
      </if>
      <if test="production_time != null">
        #{production_time,jdbcType=TIMESTAMP},
      </if>
      <if test="quality_guarantee_period != null">
        #{quality_guarantee_period,jdbcType=INTEGER},
      </if>
      <if test="item_pricing != null">
        #{item_pricing,jdbcType=INTEGER},
      </if>
      <if test="l_id != null">
        #{l_id,jdbcType=INTEGER},
      </if>
      <if test="r_id != null">
        #{r_id,jdbcType=INTEGER},
      </if>
      <if test="g_id != null">
        #{g_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.warehouse.pojo.Stock">
    update stock
    <set>
      <if test="c_id != null">
        c_id = #{c_id,jdbcType=INTEGER},
      </if>
      <if test="stock_number != null">
        stock_number = #{stock_number,jdbcType=INTEGER},
      </if>
      <if test="production_time != null">
        production_time = #{production_time,jdbcType=TIMESTAMP},
      </if>
      <if test="quality_guarantee_period != null">
        quality_guarantee_period = #{quality_guarantee_period,jdbcType=INTEGER},
      </if>
      <if test="item_pricing != null">
        item_pricing = #{item_pricing,jdbcType=INTEGER},
      </if>
      <if test="l_id != null">
        l_id = #{l_id,jdbcType=INTEGER},
      </if>
      <if test="r_id != null">
        r_id = #{r_id,jdbcType=INTEGER},
      </if>
      <if test="g_id != null">
        g_id = #{g_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.warehouse.pojo.Stock">
    update stock
    set c_id = #{c_id,jdbcType=INTEGER},
      stock_number = #{stock_number,jdbcType=INTEGER},
      production_time = #{production_time,jdbcType=TIMESTAMP},
      quality_guarantee_period = #{quality_guarantee_period,jdbcType=INTEGER},
      item_pricing = #{item_pricing,jdbcType=INTEGER},
      l_id = #{l_id,jdbcType=INTEGER},
      r_id = #{r_id,jdbcType=INTEGER},
      g_id = #{g_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>