<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.mapper.PersonnelMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.pojo.adminManage.Personnel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="ppassword" jdbcType="VARCHAR" property="ppassword" />
    <result column="d_id" jdbcType="INTEGER" property="d_id" />
    <result column="entrytime" jdbcType="TIMESTAMP" property="entrytime" />
    <result column="quit" jdbcType="INTEGER" property="quit" />
    <result column="quittime" jdbcType="TIMESTAMP" property="quittime" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  
  <sql id="select">
  	select id,pname,ppassword,d_id,entrytime,quit,quittime,phone,email from personnel
  </sql>
  
  <select id="selectPersonnel" resultMap="BaseResultMap">
  	 <include refid="select"/>
  </select>
  <!-- 
  <select id="selectPersonnelByRoleId" resultMap="com.warehouse.mapper.PersonnelMapper.BaseResultMap">
  <include refid="select"/>
  	where id in (
  	select personnel_id from personnel_to_role 
	<if test="_parameter  != null">
		where role_id = ${id,jdbcType=INTEGER}
	</if>
	)
  </select> -->
</mapper>