<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.mapper.PersonnelMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.pojo.adminManage.Personnel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="ppassword" jdbcType="VARCHAR" property="ppassword" />
    <result column="d_id" jdbcType="INTEGER" property="d_id" />
    <result column="entrytime" jdbcType="TIMESTAMP" property="entrytime" />
    <result column="quit" jdbcType="INTEGER" property="quit" />
    <result column="quittime" jdbcType="TIMESTAMP" property="quittime" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  
  <select id="selectPersonnel" resultMap="BaseResultMap">
  	select * from personnel
  </select>
  
  <insert id="insert" parameterType="com.warehouse.pojo.adminManage.Personnel">
    insert into personnel (id, pname, ppassword, 
      d_id, entrytime, quit, 
      quittime)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{ppassword,jdbcType=VARCHAR}, 
      #{d_id,jdbcType=INTEGER}, #{entrytime,jdbcType=TIMESTAMP}, #{quit,jdbcType=INTEGER}, 
      #{quittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.warehouse.pojo.adminManage.Personnel">
    insert into personnel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="ppassword != null">
        ppassword,
      </if>
      <if test="d_id != null">
        d_id,
      </if>
      <if test="entrytime != null">
        entrytime,
      </if>
      <if test="quit != null">
        quit,
      </if>
      <if test="quittime != null">
        quittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ppassword != null">
        #{ppassword,jdbcType=VARCHAR},
      </if>
      <if test="d_id != null">
        #{d_id,jdbcType=INTEGER},
      </if>
      <if test="entrytime != null">
        #{entrytime,jdbcType=TIMESTAMP},
      </if>
      <if test="quit != null">
        #{quit,jdbcType=INTEGER},
      </if>
      <if test="quittime != null">
        #{quittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>